body {
    margin: 0;
    padding: 0;
}

#header {
    background-color: black;
    color: gold;
    text-align: center;
    font-size: 30px;
    padding: 10px;
}

#menu {
    background-color: grey;
    text-align: center;
    padding: 5px;

}

form {
    display: inline-block;
}

.add-produtos {
    min-height: 55vh;
    padding: 10px;
}

a {
    color: white;
    padding: 10px;
}


footer {
    display: block;
    text-align: center;

}

img {
    max-width: 3%;
}
