body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    
}

div {
    border: 1px solid black;
    
}

#main-container {
    display: grid;
    grid-template-rows: 20vh 20vh 20vh 60vh 20vh 20vh;
    grid-template-columns: repeat(6, 1fr);
    gap: 3%;
    max-height: 100vh;
    
}



#first-block {
    background-color: red;
    grid-column: 1/7;
}

.blue-block {
    background-color: blue;
    grid-column: 1/3;
}

.yellow-block {
    background-color: yellow;
    grid-column: 3/5;
}

.green-block {
    background-color: green;
    grid-column: 5/7;
}

.black-block {
    background-color: black;
    color: white;
    grid-column: span 3;
   


.white-block {
    background-color: white;
    grid-column: span 3;

@media screen and (max-width: 800px) { 


}